{% extends 'layout.html' %} {% block body %} {% include 'includes/_flashmsg.html' %}
<div class="container login-container badge-danger p-20">
  <h2 style="text-align: center; color: #ffffff">Login Form</h2>
  {% from "includes/_formhelpers.html" import render_field %}
  <div>
    <form method="POST" action="">
      <div class="form-group">{{render_field(form.username, class_="form-control")}}</div>
      <div class="form-group">{{render_field(form.password, class_="form-control")}}</div>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </div>
</div>

{% endblock %}
