{% extends 'pages/layout.html' %}
{% block body %}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Edit Product</h1>
            {% include 'includes/_flashmsg.html' %}
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            {% for product in product%}
                            <form role="form" enctype=multipart/form-data class="" action="/edit_product?id={{product.id}}"
                                  method="post">
                                <div class="form-group">
                                    <label>Product Name</label>
                                    <input class="form-control" required="required" name="name" value="{{product.pName}}" placeholder="Enter name">
                                </div>
                                <div class="form-group">
                                    <label>Price</label>
                                    <input class="form-control" required="required" name="price" value="{{product.price}}" placeholder="Enter price">
                                </div>
                                <div class="form-group">
                                    <label>Description</label>
                                    <textarea class="form-control" required="required" name="description" rows="3"
                                              placeholder="Write product description">{{product.description}}</textarea>
                                </div>
                                <div class="form-group">
                                    <label>Available</label>
                                    <input class="form-control" required="required" value="{{product.available}}" name="available" placeholder="Available">
                                </div>
                                <div class="form-group">
                                    <label>Category</label>
                                    <select class="form-control" id="category_id" onchange="populateList();"
                                            name="category">
                                        {% if product.category == 'laptop' %}
                                        <option value="laptop" selected>Laptop</option>
                                        {% else %}
                                        <option value="laptop">Laptop</option>
                                        {% endif %}
                                        {% if product.category == 'screen' %}
                                        <option value="screen" selected>screen</option>
                                        {% else %}
                                        <option value="screen">screen</option>
                                        {% endif %}
                                        {% if product.category == 'mouse' %}
                                        <option value="mouse" selected>mouse</option>
                                        {% else %}
                                        <option value="mouse">mouse</option>
                                        {% endif %}
                                        {% if product.category == 'keyboard' %}
                                        <option value="keyboard" selected>keyboard</option>
                                        {% else %}
                                        <option value="keyboard">keyboard</option>
                                        {% endif %}
                                    </select>
                                </div>
                                {% for product_level in product_level %}
                                <div class="form-group level-container">
                                    {% if product.category == 'laptop' %}
                                    <label>Danh mục Laptop</label>
                                    <div class="form-group">
                                        <label class="checkbox-inline">
                                            {% if product_level.new_product == 'yes' %}
                                            <input type="checkbox" name="laptop" value="new_product" checked>New
                                            {% else%}
                                            <input type="checkbox" name="laptop" value="new_product" >New
                                            {% endif %}
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label >Hãng: </label>
                                        <label class="checkbox-inline">
                                            {% if product_level.dell == 'yes' %} 
                                            <input type="checkbox" name="laptop" value="dell" checked>Dell
                                            {% else %} 
                                            <input type="checkbox" name="laptop" value="dell" >Dell
                                            {% endif %}
                                        </label>
                                        <label class="checkbox-inline">
                                            {% if product_level.dell == 'yes' %} 
                                            <input type="checkbox" name="laptop" value="asus" checked>Asus
                                            {% else %} 
                                            <input type="checkbox" name="laptop" value="asus">Asus
                                            {% endif %}
                                        </label>
                                        <label class="checkbox-inline">
                                            {% if product_level.acer == 'yes' %} 
                                            <input type="checkbox" name="laptop" value="acer" checked>Acer
                                            {% else %} 
                                            <input type="checkbox" name="laptop" value="acer">Acer
                                            {% endif %}
                                            
                                        </label>
                                        <label class="checkbox-inline">
                                            {% if product_level.lenovo == 'yes' %} 
                                            <input type="checkbox" name="laptop" value="lenovo" checked>Lenovo
                                            {% else %}
                                            <input type="checkbox" name="laptop" value="lenovo">Lenovo
                                            {% endif %}
                                        </label>
                                        <label class="checkbox-inline">
                                            {% if product_level.apple == 'yes' %} 
                                            <input type="checkbox" name="laptop" value="apple" checked>Apple
                                            {% else %} 
                                            <input type="checkbox" name="laptop" value="apple">Apple
                                            {% endif %}
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label >Loại: </label>
                                        <label class="checkbox-inline">
                                            {% if product_level.gaming == 'yes' %} 
                                            <input type="checkbox" name="laptop" value="gaming" checked>Gaming
                                            {% else %} 
                                            <input type="checkbox" name="laptop" value="gaming">Gaming
                                            {% endif %}
                                        </label>
                                        <label class="checkbox-inline">
                                            {% if product_level.office == 'yes' %} 
                                            <input type="checkbox" name="laptop" value="office" checked>Văn phòng
                                            {% else %} 
                                            <input type="checkbox" name="laptop" value="office">Văn phòng
                                            {% endif %}
                                        </label>
                                    </div>
                                    {% endif %}

                                    {% if product.category == 'mouse' %}
                                    <label>Danh mục Chuột</label>
                                    <div class="form-group">
                                        <label class="checkbox-inline">
                                            {% if product_level.new_product == 'yes' %} 
                                            <input type="checkbox" name="mouse" value="new_product" checked>New
                                            {% else %} 
                                            <input type="checkbox" name="mouse" value="new_product">New
                                            {% endif %}
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label >Hãng: </label>
                                        <label class="checkbox-inline">
                                            {% if product_level.dell == 'yes' %} 
                                            <input type="checkbox" name="mouse" value="dell" checked>Dell
                                            {% else %} 
                                            <input type="checkbox" name="mouse" value="dell">Dell
                                            {% endif %}
                                        </label>
                                        <label class="checkbox-inline">
                                            {% if product_level.asus == 'yes' %} 
                                            <input type="checkbox" name="mouse" value="asus" checked>Asus
                                            {% else %} 
                                            <input type="checkbox" name="mouse" value="asus">Asus
                                            {% endif %}
                                        </label>
                                        <label class="checkbox-inline">
                                            {% if product_level.acer == 'yes' %} 
                                            <input type="checkbox" name="mouse" value="acer" checked>Acer
                                            {% else %} 
                                            <input type="checkbox" name="mouse" value="acer">Acer
                                            {% endif %}
                                        </label>
                                        <label class="checkbox-inline">
                                            {% if product_level.lenovo == 'yes' %} 
                                            <input type="checkbox" name="mouse" value="lenovo" checked>Lenovo
                                            {% else %} 
                                            <input type="checkbox" name="mouse" value="lenovo" >Lenovo
                                            {% endif %}
                                        </label>
                                        <label class="checkbox-inline">
                                            {% if product_level.apple == 'yes' %} 
                                            <input type="checkbox" name="mouse" value="apple" checked>Apple
                                            {% else %} 
                                            <input type="checkbox" name="mouse" value="apple">Apple
                                            {% endif %}
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label >Loại: </label>
                                        <label class="checkbox-inline">
                                            {% if product_level.bluetooth == 'yes' %} 
                                            <input type="checkbox" name="mouse" value="bluetooth" checked>Bluetooth
                                            {% else %} 
                                            <input type="checkbox" name="mouse" value="bluetooth" >Bluetooth
                                            {% endif %}
                                        </label>
                                        <label class="checkbox-inline">
                                            {% if product_level.cable == 'yes' %} 
                                            <input type="checkbox" name="mouse" value="cable" checked>Có dây
                                            {% else %} 
                                            <input type="checkbox" name="mouse" value="cable">Có dây
                                            {% endif %}
                                        </label>
                                    </div>
                                    {% endif %}
                                   
                                    {% if product.category == 'keyboard' %}
                                    <label>Danh mục Bàn phím</label>
                                    <div class="form-group">
                                        <label class="checkbox-inline">
                                            {% if product_level.new_product == 'yes' %} 
                                            <input type="checkbox" name="keyboard" value="new_product" checked>New
                                            {% else %} 
                                            <input type="checkbox" name="keyboard" value="new_product">New
                                            {% endif %}
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label >Hãng: </label>
                                        <label class="checkbox-inline">
                                            {% if product_level.logitech == 'yes' %} 
                                            <input type="checkbox" name="keyboard" value="logitech" checked>Logitech
                                            {% else %} 
                                            <input type="checkbox" name="keyboard" value="logitech">Logitech
                                            {% endif %}
                                        </label>
                                        <label class="checkbox-inline">
                                            {% if product_level.edra == 'yes' %} 
                                            <input type="checkbox" name="keyboard" value="edra" checked>Edra
                                            {% else %} 
                                            <input type="checkbox" name="keyboard" value="edra">Edra
                                            {% endif %}
                                        </label>
                                        <label class="checkbox-inline">
                                            {% if product_level.razer == 'yes' %} 
                                            <input type="checkbox" name="keyboard" value="razer" checked>Razer
                                            {% else %} 
                                            <input type="checkbox" name="keyboard" value="razer">Razer
                                            {% endif %}
                                        </label>
                                        <label class="checkbox-inline">
                                            {% if product_level.dell == 'yes' %} 
                                            <input type="checkbox" name="keyboard" value="dell" checked>Dell
                                            {% else %} 
                                            <input type="checkbox" name="keyboard" value="dell" >Dell
                                            {% endif %}
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label >Loại: </label>
                                        <label class="checkbox-inline">
                                            {% if product_level.bluetooth == 'yes' %} 
                                            <input type="checkbox" name="keyboard" value="bluetooth" checked>Bluetooth
                                            {% else %}
                                            <input type="checkbox" name="keyboard" value="bluetooth">Bluetooth
                                            {% endif %}
                                        </label>
                                        <label class="checkbox-inline">
                                            {% if product_level.cable == 'yes' %} 
                                            <input type="checkbox" name="keyboard" value="cable" checked>Có dây
                                            {% else %} 
                                            <input type="checkbox" name="keyboard" value="cable">Có dây
                                            {% endif %}
                                        </label>
                                    </div>
                                    {% endif %}

                                    {% if product.category == 'screen' %}
                                    <label>Danh mục Màn hình</label>
                                    <div class="form-group">
                                        <label class="checkbox-inline">
                                            {% if product_level.new_product == 'yes' %} 
                                            <input type="checkbox" name="screen" value="new_product" checked>New
                                            {% else %} 
                                            <input type="checkbox" name="screen" value="new_product">New
                                            {% endif %}
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label >Hãng: </label>
                                        <label class="checkbox-inline">
                                            {% if product_level.dell == 'yes' %} 
                                            <input type="checkbox" name="screen" value="dell" checked>Dell
                                            {% else %} 
                                            <input type="checkbox" name="screen" value="dell">Dell
                                            {% endif %}
                                        </label>
                                        <label class="checkbox-inline">
                                            {% if product_level.asus == 'yes' %} 
                                            <input type="checkbox" name="screen" value="asus" checked>Asus
                                            {% else %} 
                                            <input type="checkbox" name="screen" value="asus">Asus
                                            {% endif %}
                                        </label>
                                        <label class="checkbox-inline">
                                            {% if product_level.acer == 'yes' %} 
                                            <input type="checkbox" name="screen" value="acer" checked>Acer
                                            {% else %} 
                                            <input type="checkbox" name="screen" value="acer">Acer
                                            {% endif %}
                                        </label>
                                        <label class="checkbox-inline">
                                            {% if product_level.lenovo == 'yes' %} 
                                            <input type="checkbox" name="screen" value="lenovo" checked>Lenovo
                                            {% else %} 
                                            <input type="checkbox" name="screen" value="lenovo">Lenovo
                                            {% endif %}
                                        </label>
                                        <label class="checkbox-inline">
                                            {% if product_level.apple == 'yes' %} 
                                            <input type="checkbox" name="screen" value="apple" checked>Apple
                                            {% else %} 
                                            <input type="checkbox" name="screen" value="apple">Apple
                                            {% endif %}
                                        </label>
                                    </div>
                                    <div class="form-group">
                                        <label >Loại: </label>
                                        <label class="checkbox-inline">
                                            {% if product_level.screen_22 == 'yes' %} 
                                            <input type="checkbox" name="screen" value="screen_22" checked>22 inch
                                            {% else %} 
                                            <input type="checkbox" name="screen" value="screen_22">22 inch
                                            {% endif %}
                                        </label>
                                        <label class="checkbox-inline">
                                            {% if product_level.screen_24 == 'yes' %} 
                                            <input type="checkbox" name="screen" value="screen_24" checked>24 inch
                                            {% else %} 
                                            <input type="checkbox" name="screen" value="screen_24">24 inch
                                            {% endif %}
                                        </label>
                                        <label class="checkbox-inline">
                                            {% if product_level.screen_2k == 'yes' %} 
                                            <input type="checkbox" name="screen" value="screen_2k" checked>2k
                                            {% else %} 
                                            <input type="checkbox" name="screen" value="screen_2k">2k
                                            {% endif %}
                                        </label>
                                        <label class="checkbox-inline">
                                            {% if product_level.screen_4k == 'yes' %} 
                                            <input type="checkbox" name="screen" value="screen_4k" checked>4k
                                            {% else %} 
                                            <input type="checkbox" name="screen" value="screen_4k">4k
                                            {% endif %}
                                        </label>
                                    </div>
                                </div>
                                {% endif %}
                               
                                {% endfor %}
                                <div class="form-group">
                                    <label>Item</label>
                                    <input class="form-control" required="required" name="item" value="{{product.item}}" placeholder="Ex: watch/shoes">
                                </div>
                                <div class="form-group">
                                    <label>Product Code</label>
                                    <input class="form-control" required="required" value="{{product.pCode}}" name="code" placeholder="Enter code">
                                </div>
                                <div class="form-group">
                                    <label>Add Image</label>
                                    <input type="file" name="picture">
                                </div>
                                <button type="submit" class="btn btn-default">Submit Button</button>
                            </form>
                            {% endfor %}
                        </div>
                        <!-- /.col-lg-6 (nested) -->
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
<!-- /#page-wrapper -->
{% endblock %}