<!-- Footer -->
<section id="footer">
  <div class="container">
    <div class="row text-center text-xs-center text-sm-left text-md-left">
      <div class="col-xs-12 col-sm-4 col-md-4">
        <h5>Quick Links</h5>
        <ul class="list-unstyled quick-links">
          <li>
            <a href="/"><i class="fa fa-angle-double-right"></i>Home</a>
          </li>
          <li>
            <a href="/tshirt"><i class="fa fa-angle-double-right"></i>T-Shirt</a>
          </li>
          <li>
            <a href="/belt"><i class="fa fa-angle-double-right"></i>Belt</a>
          </li>
          <li>
            <a href="/shoes"><i class="fa fa-angle-double-right"></i>Shoes</a>
          </li>
          <li>
            <a href="/wallet"><i class="fa fa-angle-double-right"></i>Wallet</a>
          </li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <h5>Social</h5>
        <ul class="list-unstyled quick-links">
          <li>
            <a href="https://www.facebook.com/mohsingram"
              ><i class="fa fa-angle-double-right"></i>Facebook</a
            >
          </li>
          <li>
            <a href="https://www.youtube.com/mohsingram"
              ><i class="fa fa-angle-double-right"></i>Youtube</a
            >
          </li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <h5>Who We Are</h5>
        <ul class="list-unstyled quick-links">
          <li>
            <a href="https://www.facebook.com/mohsingram"
              ><i class="fa fa-angle-double-right"></i>About</a
            >
          </li>
          <li>
            <a href="javascript:void();"><i class="fa fa-angle-double-right"></i>FAQ</a>
          </li>
          <li>
            <a href="https://www.facebook.com/mohsingram"
              ><i class="fa fa-angle-double-right"></i>Developed by Mohsingram</a
            >
          </li>
          <li>
            <a href="/developer"><i class="fa fa-angle-double-right"></i>Developer</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
        <p class="h6">ABD & copy all right rzeversed.</p>
      </div>
    </div>
  </div>
</section>
<!-- ./Footer -->
<div class="d-flex flex-column h-100">
  <!-- FOR DEMO PURPOSE -->
  <section class="hero text-white py-5 flex-grow-1">
    <div class="container py-4">
      <div class="row">
        <div class="col-lg-6">
          <h1 class="display-4">Bootstrap footer bottom</h1>
          <p class="fst-italic text-muted">
            Using Bootstrap 5 flexbox utilities, create a footer that always sticks to the bottom of
            your viewport. Snippet by
            <a class="text-primary" href="https://bootstrapious.com/" target="_blank"
              >Bootstrapious</a
            >
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- FOOTER -->
  <footer class="w-100 py-4 flex-shrink-0">
    <div class="container py-4">
      <div class="row gy-4 gx-5">
        <div class="col-lg-4 col-md-6">
          <h5 class="h1 text-white">FB.</h5>
          <p class="small text-muted">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
            incididunt.
          </p>
          <p class="small text-muted mb-0">
            &copy; Copyrights. All rights reserved.
            <a class="text-primary" href="#">Bootstrapious.com</a>
          </p>
        </div>
        <div class="col-lg-2 col-md-6">
          <h5 class="text-white mb-3">Quick links</h5>
          <ul class="list-unstyled text-muted">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Get started</a></li>
            <li><a href="#">FAQ</a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-6">
          <h5 class="text-white mb-3">Quick links</h5>
          <ul class="list-unstyled text-muted">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Get started</a></li>
            <li><a href="#">FAQ</a></li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-6">
          <h5 class="text-white mb-3">Newsletter</h5>
          <p class="small text-muted">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
            incididunt.
          </p>
          <form action="#">
            <div class="input-group mb-3">
              <input
                class="form-control"
                type="text"
                placeholder="Recipient's username"
                aria-label="Recipient's username"
                aria-describedby="button-addon2"
              />
              <button class="btn btn-primary" id="button-addon2" type="button">
                <i class="fas fa-paper-plane"></i>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </footer>
</div>
