<!-- Footer -->
<section id="footer">
  <div class="container">
    <div class="row text-center text-xs-center text-sm-left text-md-left">
      <div class="col-xs-12 col-sm-4 col-md-4">
        <h5>Quick Links</h5>
        <ul class="list-unstyled quick-links">
          <li>
            <a href="/"><i class="fa fa-angle-double-right"></i>Home</a>
          </li>
          <li>
            <a href="/tshirt"><i class="fa fa-angle-double-right"></i>T-Shirt</a>
          </li>
          <li>
            <a href="/belt"><i class="fa fa-angle-double-right"></i>Belt</a>
          </li>
          <li>
            <a href="/shoes"><i class="fa fa-angle-double-right"></i>Shoes</a>
          </li>
          <li>
            <a href="/wallet"><i class="fa fa-angle-double-right"></i>Wallet</a>
          </li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <h5>Social</h5>
        <ul class="list-unstyled quick-links">
          <li>
            <a href="https://www.facebook.com/mohsingram"
              ><i class="fa fa-angle-double-right"></i>Facebook</a
            >
          </li>
          <li>
            <a href="https://www.youtube.com/mohsingram"
              ><i class="fa fa-angle-double-right"></i>Youtube</a
            >
          </li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <h5>Who We Are</h5>
        <ul class="list-unstyled quick-links">
          <li>
            <a href="https://www.facebook.com/mohsingram"
              ><i class="fa fa-angle-double-right"></i>About</a
            >
          </li>
          <li>
            <a href="javascript:void();"><i class="fa fa-angle-double-right"></i>FAQ</a>
          </li>
          <li>
            <a href="https://www.facebook.com/mohsingram"
              ><i class="fa fa-angle-double-right"></i>Developed by Mohsingram</a
            >
          </li>
          <li>
            <a href="/developer"><i class="fa fa-angle-double-right"></i>Developer</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
        <p class="h6">ABD & copy all right rzeversed.</p>
      </div>
    </div>
  </div>
</section>
<!-- ./Footer -->
<div class="mt-5 pt-5 pb-5 footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-xs-12 about-company">
        <h2>Heading</h2>
        <p class="pr-5 text-white-50">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac ante mollis quam
          tristique convallis
        </p>
        <p>
          <a href="#"><i class="fa fa-facebook-square mr-1"></i></a
          ><a href="#"><i class="fa fa-linkedin-square"></i></a>
        </p>
      </div>
      <div class="col-lg-3 col-xs-12 links">
        <h4 class="mt-lg-0 mt-sm-3">Links</h4>
        <ul class="m-0 p-0">
          <li>- <a href="#">Lorem ipsum</a></li>
          <li>- <a href="#">Nam mauris velit</a></li>
          <li>- <a href="#">Etiam vitae mauris</a></li>
          <li>- <a href="#">Fusce scelerisque</a></li>
          <li>- <a href="#">Sed faucibus</a></li>
          <li>- <a href="#">Mauris efficitur nulla</a></li>
        </ul>
      </div>
      <div class="col-lg-4 col-xs-12 location">
        <h4 class="mt-lg-0 mt-sm-4">Location</h4>
        <p>22, Lorem ipsum dolor, consectetur adipiscing</p>
        <p class="mb-0"><i class="fa fa-phone mr-3"></i>(541) 754-3010</p>
        <p><i class="fa fa-envelope-o mr-3"></i>info@hsdf.com</p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col copyright">
        <p class=""><small class="text-white-50">© 2019. All Rights Reserved.</small></p>
      </div>
    </div>
  </div>
</div>
