<!-- Footer -->
<section id="footer">
  <div class="container">
    <div class="row text-center text-xs-center text-sm-left text-md-left">
      <div class="col-xs-12 col-sm-4 col-md-4">
        <h5>Quick Links</h5>
        <ul class="list-unstyled quick-links">
          <li>
            <a href="/"><i class="fa fa-angle-double-right"></i>Home</a>
          </li>
          <li>
            <a href="/tshirt"><i class="fa fa-angle-double-right"></i>T-Shirt</a>
          </li>
          <li>
            <a href="/belt"><i class="fa fa-angle-double-right"></i>Belt</a>
          </li>
          <li>
            <a href="/shoes"><i class="fa fa-angle-double-right"></i>Shoes</a>
          </li>
          <li>
            <a href="/wallet"><i class="fa fa-angle-double-right"></i>Wallet</a>
          </li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <h5>Social</h5>
        <ul class="list-unstyled quick-links">
          <li>
            <a href="https://www.facebook.com/mohsingram"
              ><i class="fa fa-angle-double-right"></i>Facebook</a
            >
          </li>
          <li>
            <a href="https://www.youtube.com/mohsingram"
              ><i class="fa fa-angle-double-right"></i>Youtube</a
            >
          </li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4">
        <h5>Who We Are</h5>
        <ul class="list-unstyled quick-links">
          <li>
            <a href="https://www.facebook.com/mohsingram"
              ><i class="fa fa-angle-double-right"></i>About</a
            >
          </li>
          <li>
            <a href="javascript:void();"><i class="fa fa-angle-double-right"></i>FAQ</a>
          </li>
          <li>
            <a href="https://www.facebook.com/mohsingram"
              ><i class="fa fa-angle-double-right"></i>Developed by Mohsingram</a
            >
          </li>
          <li>
            <a href="/developer"><i class="fa fa-angle-double-right"></i>Developer</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
        <p class="h6">ABD & copy all right rzeversed.</p>
      </div>
    </div>
  </div>
</section>
<!-- ./Footer -->



  <body>
    <div class="footer-dark">
      <footer>
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-md-3 item">
              <h3>Services</h3>
              <ul>
                <li><a href="#">Web design</a></li>
                <li><a href="#">Development</a></li>
                <li><a href="#">Hosting</a></li>
              </ul>
            </div>
            <div class="col-sm-6 col-md-3 item">
              <h3>About</h3>
              <ul>
                <li><a href="#">Company</a></li>
                <li><a href="#">Team</a></li>
                <li><a href="#">Careers</a></li>
              </ul>
            </div>
            <div class="col-md-6 item text">
              <h3>Company Name</h3>
              <p>
                Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus. Ut
                vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit
                pulvinar dictum vel in justo.
              </p>
            </div>
            <div class="col item social">
              <a href="#"><i class="icon ion-social-facebook"></i></a
              ><a href="#"><i class="icon ion-social-twitter"></i></a
              ><a href="#"><i class="icon ion-social-snapchat"></i></a
              ><a href="#"><i class="icon ion-social-instagram"></i></a>
            </div>
          </div>
          <p class="copyright">Company Name © 2018</p>
        </div>
      </footer>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
