<!-- Footer -->

    <footer class="page-footer font-small blue pt-4">
        <!-- Footer Links -->
        <div class="container-fluid text-md-left">
          <!-- Grid row -->
          <div class="row">
              
            <!-- Grid column -->
            <div class="col-md-5 mt-md-0 mt-3" style="margin-left: 20px;">
              <!-- Content -->
              <div class="navbar-brand" style="width: 80; height: 80">
                  <a href="/"/>
                    <img
                      src="/static/image/logo/logo-2.png"
                      alt="Logo"
                      style="width: 100px; display: flex; margin-left: 30px;">
                    </a>
                </div>
              <h5 class="text-uppercase">Công ty thương mại ABD</h5>
              <p>EMAIL: CSKH@ABD.COM</p>
              <p>HỆ THỐNG TỔNG ĐÀI MIỄN PHÍ: (Làm việc từ 08h00 - 21h00)</p>
              <p>Hỗ trợ khách hàng: 19191919</p>
            
            </div>
      
            <!-- Grid column -->
      
      
            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">
              <!-- Links -->
              <h5 class="text-uppercase">Hệ thống cửa hàng</h5>
      
              <ul class="list-unstyled">
              <h6 class="text-uppercase">TPHCM:</h6>
                <li>
                  <p>Chi nhánh 1: 1 Đường số 1, Quận 1</p>
                </li>
                <li>
                  <p>Chi nhánh 2: 2 Đường số 2, Quận 2</p>
                </li>
              <h6 class="text-uppercase">Hà nội:</h6>
              <li>
                  <p>Chi nhánh 1: 1 Đường số 1, Quận 1</p>
                </li>
                <li>
                  <p>Chi nhánh 2: 2 Đường số 2, Quận 2</p>
                </li>
              </ul>
            </div>
            <!-- Grid column -->
      
            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">
              <!-- Links -->
              <h5 class="text-uppercase">Links</h5>
      
              <ul class="list-unstyled">
                <li>
                  <a href="#!">Link 1</a>
                </li>
                <li>
                  <a href="#!">Link 2</a>
                </li>
                <li>
                  <a href="#!">Link 3</a>
                </li>
                <li>
                  <a href="#!">Link 4</a>
                </li>
              </ul>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
        <!-- Footer Links -->
      
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">
          © 2020 Copyright:
          <a href="/"> ABD</a>
        </div>
        <!-- Copyright -->
    </div>
      <!-- Footer -->


<!-- ./Footer -->
<!-- Footer -->

